.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(22, 21, 21, 0);
    transition: background-color 0.25s ease;
    pointer-events: none;
}

.modal-container.open {
    background-color: rgba(22, 21, 21, 0.5);
    pointer-events: auto;
}

.modal-box {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 12px;
    background-color: #000000ab;
    backdrop-filter: blur(5px);
    padding: 5px 10px;
    transform: scale(0.85) translateY(10px);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(.17, .67, .83, .67), opacity 0.5s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.modal-box.show {
    transform: scale(1) translateY(0);
    opacity: 1;
}

.modal-box h1 {
    font-size: 50px;
    font-weight: 600;
}

.modal-box h1 span {
    color: #3d66a6;
    font-size: 60px;

}

.modal-box p {
    font-size: 20px;
}

@media (max-width:700px) {
    .modal-box{
        width: 380px;
        height: 200px;
    }
    .modal-box h1{
        font-size: 36px;
    }
    .modal-box h1 span {
        font-size: 46px;
    }
    .modal-box p{
        font-size: 16px;
        text-align: center;
    }
}